{
  "extends": "../../../tsconfig.base.json",
  "compilerOptions": {
    "module": "nodenext",
    "moduleResolution": "nodenext",
    "allowImportingTsExtensions": false,
    "emitDeclarationOnly": false,
    "noEmit": false,
    "verbatimModuleSyntax": false,
    "noUncheckedIndexedAccess": false,
    "declaration": false,
    "sourceMap": true,
    "composite": false,
    "outDir": "dist",
    "rootDir": "src",
    "types": ["jest", "node"]
  },
  "include": ["src/**/*.ts"],
  "exclude": ["node_modules", "dist", "**/*.spec.ts", "**/*.test.ts"]
}
